/* 列表元素 */
.noteItem{
  padding: 0 5px;
  cursor: pointer;
}
.noteItem .content{
  width: 240px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.noteItem.edit:hover{
  background-color: unset;
}
.noteItem.edit:hover, .noteItem.edit:hover i{
  color: #9E9E9E;
}
.noteItem.edit:hover time{
  color: #757575;
}

.noteItem, .noteItem i, .noteItem time{
  transition: all .3s;
}

.noteItem:hover{
  background-color: #9e9e9e;
}

.noteItem:hover, .noteItem:hover i, .noteItem:hover time{
  color: #fff;
}


.noteItem i{
  color: #9E9E9E;
}

.noteItem span, .noteItem input{
  flex: 1;
  margin: 0 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 .5em;
}
.noteItem input{
  line-height: 48px;
  outline: none;
  border: 0;
  font-size: inherit;
}

.noteItem time{
  color: #757575;
}
/* 列表元素 */

/* 列表 */
.noteList{
  line-height: 3em;
  font-size: 16px;
  color: #212121;
  flex: 1;
  overflow: auto;
}

/* 搜索框 */
.filter {
  border: solid 1px #f1f1f1;
  line-height: 2.5em;
  font-size: 14px;
  width: 240px;
  box-sizing: border-box;
  outline: none;
  padding: 0 .5em;
  color: #999;
  margin: 0 auto;
  margin-bottom: 15px;
}

/* 外层 */
.wraper{
  /* width: 240px; */
  padding: 10px 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
