.App{
  height: 100%;
  display: flex;
  user-select: none;
}

.App .side-panel{
  width: 10%;
  min-width: 180px;
  box-shadow: #fafafa;
  border-right: solid 1px #ddd;
}

.App .list-panel{
  width: 15%;
  min-width: 260px;
  background-color: #fafafa;
}

.App .content-panel{
  flex: 1;
  display: flex;
  flex-direction: column;
}

